*.iml
.gradle
/local.properties
/.idea
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/ios/java

.j2objc-cache/

*.hmap
*.ipa
*.pbxuser
DerivedData/
playground.xcworkspace
timeline.xctimeline
xcuserdata/

bin
out

.idea
*.iml
tmp

.password
app/libs

*.hprof
